<h2>Listing tasks</h2>

<div id='tasks' data-update-url="<%= sort_tasks_url %>">
  <%= render @tasks %>
</div>

<%= form_for(Task.new, remote: true) do |f| %>

    <%= f.text_field :name %> <%= f.submit %>

<% end %>
